<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.fizerkhan.thirukural" version="0.0.5" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>Thirukural</name>
  <description>
    The Classic of Tamil Literature
  </description>
  <author email="fizerkhan@gmail.com" href="http://www.fizerkhan.com">
      Fizer Khan
  </author>
  <content src="index.html"/>
  <access origin="*"/>
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="BackupWebStorage" value="none"/>
  <preference name="SplashScreen" value="screen" />
  <preference name="SplashScreenDelay" value="3000" />
  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>
</widget>