/* Empty. Add your own CSS if you like */

.tabs {
    height: 60px;
    border-top-color: #b2b2b2 !important;
}

.tab-item.tab-item-active,
.tab-item.active,
.tab-item.activated {
    opacity: 1;
    color: #fff;
}

.tab-item .icon {
    display: block;
    padding-top: 5px;
    height: 32px;
    font-size: 32px;
}

.tab-title {
    display: block;
    margin: 0 auto;
    padding-top: 5px;
}

.about {
    padding: 20px;
}

.about p {
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 30px;
}

.tamil-text {
    font-family: 'Droid Sans Tamil', serif;
    font-size: 12px;
    /* wrap long text and urls */
    white-space: pre; /* CSS 2.0 */
    white-space: pre-wrap; /* CSS 2.1 */
    white-space: pre-line; /* CSS 3.0 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    white-space: -moz-pre-wrap; /* Mozilla */
    word-wrap: break-word; /* IE 5+ */
}

.item-name {
    font-family: 'Droid Sans Tamil', serif;
}

.pal-list-item {
    font-size: 22px;
    color: #333 !important;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: #e4f2f1;
}

.pal-list-item:hover,
.pal-list-item:active {
    color: #f24444 !important;
}

.kurals-pane {
    background: -webkit-linear-gradient(90deg, #FF8008 10%, #FFC837 90%); /* Chrome 10+, Saf5.1+ */
    background:    -moz-linear-gradient(90deg, #FF8008 10%, #FFC837 90%); /* FF3.6+ */
    background:     -ms-linear-gradient(90deg, #FF8008 10%, #FFC837 90%); /* IE10 */
    background:      -o-linear-gradient(90deg, #FF8008 10%, #FFC837 90%); /* Opera 11.10+ */
    background:         linear-gradient(90deg, #FF8008 10%, #FFC837 90%); /* W3C */
}

.kural {
    padding: 15px 10px 10px;
    background-color: #fff;
    border-bottom: 1px solid #e0e2d7;
    border-radius: 10px 10px 0 0;
    -moz-border-radius: 10px 10px 0 0;
    -webkit-border-radius: 10px 10px 0 0;
    color: #105b63;
}

.kural-line {
    margin-bottom: 5px;
}

.kural-reference {
    display: block;
    font-size: 10px;
    color: #999;
}

.tamil-meaning {
    padding: 10px 10px 0;
}

.english-meaning {
    border-top: 1px solid #e0e2d7;
    padding: 10px 10px 10px;
}

.tips {
  position: absolute;
  right: 20px;
  bottom: 0;
  color: #444;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 10px;
}

/* Swipe cards */

.swipe-cards {
  position: fixed;
}

.swipe-card {
  display: none;
  position: fixed;
  -webkit-transform: scale(1,1);
  width: auto;
  height: 380px;
  margin: 54px 10px 10px;
  box-sizing: border-box;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  background-color: #fafafa;
  -webkit-animation-fill-mode: forwards;
  overflow: scroll;
  -webkit-box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;

}

.swipe-card .title {
  height: 40px;
  padding: 5px;
  line-height: 30px;
  color: #444;
}

.swipe-card .image {
  overflow: hidden;
  max-height: 210px;
}
.swipe-card .button {
  border: none;
}
.swipe-card .image img {
  width: 100%;
  border-radius: 0px 0px 4px 4px;
}

#start-card {
  color: #fff;
  background-color: #30BD8A;
  line-height: 300px;
  word-wrap: break-word;
  border: 6px solid #4CD68E;
  text-align: center;
}
#start-card span {
  display: inline-block;
  line-height: 40px;
  width: 200px;
  font-size: 30px;
  vertical-align: middle;
}


@-webkit-keyframes bounceIn {
  0% {
    -webkit-transform: scale(0,0);
  }
  70% {
    -webkit-transform: scale(1.2,1.2);
  }
  100% {
    -webkit-transform: scale(1,1);
  }
}

.swipe-card.pop-in-start {
  -webkit-transform: scale(0,0);
}
.swipe-card.pop-in {
  -webkit-animation: bounceIn 0.4s ease-out;
}
