<ion-view title="{{title}}">

  <ion-content class="kurals-pane">

    <swipe-cards>
      <swipe-card ng-repeat="kural in activeKurals" on-destroy="cardDestroyed($index)" on-card-swipe="cardSwiped($index)">
        <div ng-controller="CardCtrl">
          <div class="kural">
            <p class="kural-line tamil-text">{{kural.kural[0]}}</p>
            <p class="kural-line tamil-text">{{kural.kural[1]}}</p>
            <span class="pull-right tamil-text kural-reference">{{kural.section}} : {{kural.chapter}} : குறள் {{getKuralNumber(kural.number)}}</span>
          </div>
          <div class="meaning">
            <div class="tamil-meaning">
                <p class="tamil-text">{{kural.meaning.ta_mu_va}}</p>
                <p class=" tamil-text">{{kural.meaning.ta_salamon}}</p>
            </div>
            <div class="english-meaning">
                <p>{{kural.meaning.en}}</p>
            </div>
          </div>
        </div>
      </swipe-card>
    </swipe-cards>

    <p class="tips">Swipe down for a new Kural</p>

  </ion-content>
</ion-view>
