<ion-view title="{{title}}">

  <ion-content class="kurals-pane">

    <swipe-cards>
      <swipe-card ng-repeat="kural in activeKurals" on-destroy="cardDestroyed($index)" on-card-swipe="cardSwiped($index)">
        <div ng-controller="CardCtrl">
          <div class="kural">
            <p class="kural-line tamil-text">{{kural.kural[0]}}</p>
            <p class="kural-line tamil-text">{{kural.kural[1]}}</p>
            <span class="tamil-text kural-reference">{{kural.section}} : {{kural.chapter}} : குறள் {{kural.number}}</span>
          </div>
          <div class="meaning">
            <div class="tamil-meaning">
                <p class="tamil-text">{{kural.meaning.ta_mu_va}}</p>
                <p class=" tamil-text">{{kural.meaning.ta_salamon}}</p>
            </div>
            <div class="english-meaning">
                <p>{{kural.meaning.en}}</p>
            </div>
          </div>
        </div>
      </swipe-card>
    </swipe-cards>
  </ion-content>

  <ion-footer-bar class="footer-custom hide-on-keyboard-open">
    <a class="button button-stable ion-share" ng-click="share()">
      Share
    </a>
  </ion-footer-bar>

</ion-view>
