<ion-view title="About">
  <ion-nav-buttons side="left">
    <button class="button button-clear" ng-click="goBack()">
        <i class="ion-arrow-left-c"></i> Back
    </button>
  </ion-nav-buttons>
  <ion-content>
    <div class="about">
        <p>
            <strong>Thirukural</strong> is a classic Tamil sangam literature consisting of 1330 couplets or Kurals. It was authored by Thiruvalluvar.
        </p>
        <p>
            This app is built from the ground up in the sense of giving
            rich user experience to the readers.
        </p>

        <p>
            Thanks <a href="http://www.srisaividyashram.com/" target="_system">Sri Sai Vidyashram</a> for logo.
        </p>

        <div>
            <button class="button button-block button-balanced" ng-click="rateUs()">Rate us</button>
            <button class="button button-block button-balanced" ng-click="share()">Share with friends</button>
            <button class="button button-block button-balanced" ng-click="feedback()">Feedback</button>
        </div>

        <small>
            Built by Fizer Khan with Love and Care.
        </small>
    </div>
  </ion-content>
</ion-view>